.add-task-item {
  display: flex;
  align-items: center;
  margin-top: 10px;

  &__wrapper {
    padding-top: 9px;
    //opacity: .4;
    cursor: pointer;


    display: inline-flex;
    &:hover {
      .add-task-item__icon,
      .add-task-item__title{
        opacity: .6;
      }
    }
  }

  &__icon {
    margin-right: 13px;
    opacity: .4;
    transition: all 0.15s ease-in-out;
  }

  &__title {
    font-family: Roboto;
    opacity: .4;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.15px;
    transition: all 0.15s ease-in-out;
  }

  &__wrap-itp{
    width: 100%;
    margin-bottom: 15px;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    transition: all 0.15s ease-in-out;
  }

  &__input {
    flex: 1 1 100%;
    margin-bottom: 16px;
  }

  &__btn-add {
    margin-right: 9px;
  }

  &__btn-close {
    background: #F4F6F8;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    padding: 12px 10px;

    &:hover {
      background-color: darken(#F4F6F8, 4%);
    }

    &:focus {
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
    }
    &:active{
      background-color: darken(#F4F6F8, 6%);
    }
  }

  .fade-enter {
    opacity: 0;
    transform: translateY(100%);
  }
  .fade-enter-active {
    opacity: 1;
    transform: translateY(0%);
  }
  .fade-exit {
    opacity: 1;
    transform: translateY(0%);
  }
  .fade-exit-active {
    opacity: 0;
    transform: translateY(100%);
  }
  .fade-enter-active,
  .fade-exit-active {
    transition: opacity 300ms, transform 200ms;
  }

}
