.signup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__body {
    padding: 18px;
    min-width: 320px;
    height: 100%;
    max-width: 500px;
    width: 100%;
    background-color: #eff6ff;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all 0.300s ease-in-out;

    @media all and (max-width: 768px) {
      padding: 6px;
      min-width: 310px;
      margin-bottom: 10px;
    }
  }

  &__header {

  }

  &__error-wrap {
    &-enter {
      opacity: 0;
    }

    &-enter-active {
      opacity: 1;
      transition: opacity 300ms;
    }

    &-exit {
      opacity: 1;
    }

    &-exit-active {
      opacity: 0;
      transition: opacity 300ms;
    }
  }

  &__error {


  }

  &__desc {

  }

  &__btn {
    padding: 12px 6px;
  }
}