.add-list-btn {
  position: relative;

  &__wrap {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 12px;
    transition: all 0.15s ease-in-out;
    margin-bottom: 4px;
    opacity: .4;

    @media all and (max-width: 768px) {
      padding: 6px;
      display: flex;
      align-items: center;

    }

    @media all and (min-width: 768px) {
      &:hover {
        opacity: .8;
      }
    }
  }

  &__icon {
    display: inline-flex;
    margin-right: 10px;
    transition: all 0.15s ease-in-out;
    min-width: 14px;

    @media all and (max-width: 768px) {
      margin-right: 0;
    }

    &.show {
      margin-right: 6px;
    }
  }

  &__text {
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 160px;
    white-space: nowrap;
    transition: all 0.15s ease-in-out;

    @media all and (max-width: 768px) {
      opacity: 0;
      visibility: hidden;
      width: 0;
      flex: 0;
    }
    &.show{
      opacity: 1;
      visibility: visible;
      width: 100%;
      flex: 1;
    }
  }



  &__popup {
    width: 240px;
    position: absolute;
    z-index: 1;
    top: 58px;
    left: 20px;
    background-color: #e1e8f0;
    padding: 18px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;

    &-show {
      animation: showPopup .15s forwards ease-in-out;
    }

    &-hide {
      animation: hiddenPopup .15s forwards ease-in-out;
    }

  }

  &__input {
    width: 100%;
    margin-bottom: 13px;
  }

  &__btn {
    width: 100%;
  }

  &__color-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;


  }

  .badge {
    height: 20px;
    width: 20px;
    cursor: pointer;
    transition: all 0.08s ease-in-out;

    &.active {
      border: 2px solid #525252;
    }
  }

  &__close {
    position: absolute;
    right: -6px;
    top: -6px;
    cursor: pointer;
  }
}

@keyframes showPopup {
  0% {
    transform: scale(.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes hiddenPopup {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {

    transform: scale(.7);
    opacity: 0;
  }
}
