.list-navbar {
  $self: &;

  font-size: 14px;
  margin-bottom: 20px;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;

  &__link {
    flex: 1 1 auto;
    display: flex;
    min-height: 20px;
    transition: all 0.15s ease-in-out;
    text-decoration: none;
    color: #000;

    align-items: center;
    cursor: pointer;
    padding: 10px 12px;
    margin-bottom: 4px;

    @media all and (max-width: 768px) {
      padding: 6px;
      display: flex;
      align-items: center;
      //justify-content: center;

    }

    &-add {
      animation: delList 400ms reverse ease-in-out;
    }

    &-del {
      animation: delList 400ms forwards ease-in-out;
    }

    &.active {
      background: #FFFFFF;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
    }

    &:active {
      background: rgba(46, 193, 128, 0.59);
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
    }

    @media all and (min-width: 768px) {
      &:hover {
        background-color: #dce8f6;
      }
    }

    @media all and (min-width: 768px) {
      &:hover {
        .list-navbar__btn-remove {
          opacity: .2;
        }
      }
    }
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    transition: all 0.15s ease-in-out;
    width: 20px;
    height: 20px;

    &.show{
      margin-right: 6px;
    }

    svg{
      width: 100%;
      height: 100%;
    }
    .badge {
      width: 20px;
      height: 20px;
      position: relative;
      left: 1px;
      @media all and (max-width: 768px) {
        left: 0;
      }
    }
    @media all and (max-width: 768px) {
      margin-right: 0;
    }
  }

  &__text {
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 160px;
    white-space: nowrap;
    transition: all 0.15s ease-in-out;
    @media all and (max-width: 768px) {
      opacity: 0;
      visibility: hidden;
      width: 0;
      flex: 0;
    }
    &.show{
      opacity: 1;
      visibility: visible;
      width: 100%;
      flex: 1;
    }
  }

  #{$self}__btn-remove {
    transition: opacity 0.15s ease-in-out;
    opacity: .6;
    font-size: 16px;
    //display: inline-flex;

    &:active {
      background-color: #4DD599;
    }

    @media all and (min-width: 768px) {
      opacity: 0;
      &:hover {
        opacity: .8;
      }
    }
    @media all and (max-width: 768px) {
      opacity: 0;
      appearance: none;
      position: absolute;
      z-index: -5;
    }
    &.show{
      opacity: .6;
      appearance: auto;
      position: relative;
      z-index: 5;
    }
  }

  &__count {
    display: inline-block;
    margin-right: 8px;
    opacity: 1;
    transition: all 0.15s ease-in-out;

    @media all and (max-width: 768px) {
      opacity: 0;
      visibility: hidden;
      margin-right: 0;
      width: 0;
    }
  }

  @media all and (max-width: 768px) {
    margin-bottom: 16px;
  }
}


@keyframes addList {
  0% {
    transform: scale(.3) translateY(20px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

@keyframes delList {
  0% {
    transform: scale(1) translateX(0);
    opacity: 1;
  }
  100% {
    transform: scale(.8) translateX(-50px);
    opacity: 0;
  }
}
