.list-navbar {
  $self: &;

  font-size: 14px;
  margin-bottom: 20px;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;

  &__wrap {
    display: block;
    &-add{
      animation: delList 400ms reverse ease-in-out;
    }
    &-del{
      animation: delList 400ms forwards ease-in-out;
    }
  }

  @media all and (max-width: 768px) {
    margin-bottom: 16px;
  }

  .badge {
    position: relative;
    left: 1px;
    @media all and (max-width: 768px) {
      left: 0;
    }
  }

  i {
    display: inline-flex;
    margin-right: 10px;
    transition: all 0.15s ease-in-out;
    min-width: 14px;

    @media all and (max-width: 768px) {
      margin-right: 0;
    }

    &.active-visible {
      margin-right: 10px;
    }
  }

  a {
    text-decoration: none;
    color: #000;
  }

  li {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 12px;
    transition: all 0.15s ease-in-out;
    margin-bottom: 4px;

    @media all and (max-width: 768px) {
      padding: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      &.active-visible {
        justify-content: flex-start;
      }
    }

    span {
      flex: 1;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 160px;
      white-space: nowrap;
      transition: all 0.15s ease-in-out;
      @media all and (max-width: 768px) {
        opacity: 0;
        visibility: hidden;
        width: 0px;
        flex: 0;
      }

      &.active-visible {
        flex: 1;
        opacity: 1;
        visibility: visible;
      }
    }

    &:hover {
      background-color: #dce8f6;
    }

    &.active {
      background: #FFFFFF;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
    }

    &:hover #{$self}__btn-remove {
      opacity: .2;
    }

    #{$self}__btn-remove {
      transition: all 0.15s ease-in-out;
      opacity: 0;
      font-size: 16px;
      display: inline-flex;

      &:active {
        background-color: #4DD599;
      }


      @media all and (min-width: 769px) {
        &:hover {
          opacity: .8;
        }
      }
      @media all and (max-width: 768px) {
        opacity: 0;
        visibility: hidden;
        width: 0;
        padding: 0;
        &.active-visible {
          opacity: .8;
          visibility: visible;
          min-width: 16px;
        }
      }


    }
  }

  &__count {
    display: inline-block;
    margin-right: 8px;
    opacity: 1;
    transition: all 0.15s ease-in-out;

    @media all and (max-width: 768px) {
      opacity: 0;
      visibility: hidden;
      margin-right: 0;
      width: 0;
    }

    &.active-visible {
      opacity: 1;
      visibility: visible;
      margin-right: 8px;
      min-width: 17px;
    }
  }

  .add-btn {
    opacity: .6;

    &:hover {
      opacity: 1;
    }
  }


}


@keyframes addList {
  0% {
    transform: scale(.3) translateY(20px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

@keyframes delList {
  0% {
    transform: scale(1) translateX(0);
    opacity: 1;
  }
  100% {
    transform: scale(.8) translateX(-50px);
    opacity: 0;
  }
}
