.control-box {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  // заканчивая до и <
  @media all and (max-width: 768px) {
    min-width: 40px;
  }

  &__list {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @media all and (max-width: 768px) {
      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }

  &__btn-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: opacity, background-color 0.15s ease-in-out;
    cursor: pointer;
    //начиная от и >
    @media all and (min-width: 768px) {
      opacity: .4;
      &:hover {
        opacity: .6;
      }
    }
    // заканчивая до и <
    @media all and (max-width: 768px) {
      opacity: .6;
    }

    // размер svg спрайта
    svg {
      width: 20px;
      height: 20px;
      @media all and (max-width: 768px) {
        width: 16px;
        height: 16px;
      }
    }

    &:active {
      background-color: darken(#4DD599, 10) !important;
      border-radius: 2px;
    }
    &:focus {
      border-radius: 2px;
      background-color: darken(#4DD599, 0);
      //border: 1px solid darken(#4DD599, 50);
    }
  }
}

[class^="icon-"], [class*=" icon-"] {
  height: 32px;
  width: 32px;
  display: inline-block;
  fill: currentColor;
}
