.title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-bottom: 20px;
  @media all and (max-width: 768px) {
    padding-bottom: 10px;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e3e3e3;
  }

  .fade-enter{
    opacity: 0;
    transform: translateX(50px);
  }
  .fade-exit{
    opacity: 1;
    transform: translateX(0px);
  }
  .fade-enter-active{
    opacity: 1;
    transform: translateX(0px);
  }
  .fade-exit-active{
    opacity: 0;
    transform: translateX(-50px);
  }
  .fade-enter-active,
  .fade-exit-active{
    transition: all 300ms;
  }

  &__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #64C4ED;
    margin-right: 15px;
    word-break: break-word;
    @media all and (max-width: 768px) {
      font-size: 24px;
    }

    &--show {
    }

    &--hide {
    }
  }

  &__edit-title {
    &--show {
      animation: show 300ms ease-in-out;
    }

    &--hide {
      animation: hide 300ms ease-in-out;
    }
  }

  &__img-box {
    display: flex;
    align-items: center;

    abbr:not(:last-child) {
      margin-right: 14px;
    }
  }

  &__edit, &__sort {
    opacity: .2;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    font-size: 18px;
    line-height: 14px;
    display: inline-flex;

    @media all and (min-width: 769px) {
      &:hover {
        opacity: .8;
      }
    }

  }
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes hide {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}
