.item-task {
	padding-top: 30px;

	&__row {


	}

	&__checkbox {
		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Chrome/Safari/Opera */
		-khtml-user-select: none; /* Konqueror */
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
		user-select: none;

		input:checked + label {
			background: #4DD599;
			border-color: #4DD599;

			svg{
				opacity: 1;
				path{
					stroke: #FFFFFF;
				}
			}
		}

		&:hover {
			label {
				background-color: #F2F2F2;
				border-color: #F2F2F2;
				svg {
					opacity: 1;

					path {
						stroke: #B3B3B3;
					}
				}
			}
		}

		input {
			display: none;
		}

		label {
			transition: all 0.15s ease-in-out;

			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			border: 2px solid #E8E8E8;

			svg {
				transition: all 0.15s ease-in-out;

				opacity: 0;

				path {
					stroke: #B3B3B3;
				}
			}
		}


	}
}
