.navbar {
  padding: 60px 30px;
  border-right: 1px solid #e3e3e3;
  background-color: #eff6ff;
  width: 240px;
  height: 100vh;
  transition: all 0.300s ease-in-out;


  @media all and (max-width: 768px) {
    width: 41px;
    padding: 10px 4px;
    position: absolute;
    z-index: 2;
  }

  &.show {
    width: 88%;
    padding: 10px 4px;
  }

  &__tog-show {
    width: 20px;
    height: 20px;
    color: #4DD599;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 24px;
      height: 24px;
    }

    &.show {
    }

    @media all and (min-width: 769px) {
      display: none;
    }
  }

  &__auth {

  }

  .burger-show {
    &-enter {
      opacity: 0;
    }

    &-enter-active {
      opacity: 1;
    }

    &-exit {
      opacity: 1;
    }

    &-exit-active {
      opacity: 0;
    }

    &-enter-active,
    &-exit-active {
      transition: opacity 300ms;
    }
  }
}

.auth-nav {
  padding: 10px 12px;
  @media all and (max-width: 768px) {
    transition: all 0.300s ease-in-out;
    padding: 6px;
  }

  &.show {
    opacity: 1;
  }

  &__burger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
  }

  &__title {
    font-family: Montserrat;
    letter-spacing: -0.5px;
    font-size: 22px;
    line-height: 24px;
    opacity: 1;
    transition: all 0.300s ease-in-out;
    white-space: nowrap;
    @media all and (max-width: 768px) {
      font-size: 18px;
      line-height: 18px;
      visibility: hidden;
      width: 0;
      opacity: 0;
    }

    &.show {
      visibility: visible;
      width: 100%;
      opacity: 1;
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
    opacity: .4;
    transition: opacity 0.300s ease-in-out;
    @media all and (min-width: 768px) {
      &:hover {
        opacity: .6;
      }
    }
    @media all and (max-width: 768px) {
      visibility: hidden;
      width: 0;
      opacity: 0;
    }
    &.show {
      visibility: visible;
      width: 100%;
      opacity: .6;
    }
  }

  &__email {
    font-family: Roboto;
    font-size: 14px;
    flex: 1 1 auto;
    cursor: default;
    opacity: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    @media all and (max-width: 768px) {
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__logout {
    display: inline-flex;
    font-size: 20px;
    cursor: pointer;
    transition: color, opacity 0.300s ease-in-out;
    @media all and (min-width: 768px) {
      &:hover {
        color: tomato;
      }
    }

    &:active {
      color: darken(tomato, 20);
    }
  }
}
